{% include 'client/dashboard.html' %}
{% block content %}

<table class="table align-middle mb-5 bg-white" xmlns="http://www.w3.org/1999/html">
    <thead class="bg-light">
    <tr>
        <th scope="col" style="color:white">Project Name</th>
        <th scope="col" style="color:white">Task Name</th>
        <th scope="col" style="color:white">Start Date</th>
        <th scope="col" style="color:white">End Date</th>
        <th scope="col" style="color:white">Working Hours</th>
        <th scope="col" style="color:white">Overtime</th>
        <th scope="col" style="color:white">Bill</th>
        <th scope="col" style="color:white">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for i in task %}
    <tr class="rows">
        <td>{{i.project_name.project_name}}</td>
        <td>{{i.task_name.task_name}}</td>
        <td>{{i.s_date}}</td>
        <td>{{i.e_date}}</td>
        <td>{{i.working_h}}</td>
        <td>{{i.overtime_h}}</td>
        <td><a href="{{ i.bill.url }}">
            <img src="{{ i.bill.url }}" style="width:100px"></a></td>
        {% if i.status == 'pending' %}
        <td class="status-pen">{{i.status}}</td>
        {% else %}
        <td class="status-com">{{i.status}}</td>
        {% endif %}

    </tr>

    {% endfor %}
    </tbody>
</table>


<style type="text/css">
table {

   width: 83%;
   margin-top: 4%;
   margin-left: 2px;

}

th, td {
   text-align: left;
   padding: 8px;
   border-bottom: 1px solid #ddd;
   padding: 10px;
   text-align:center;

   color:#9f3838;

}

tr:hover {
   background-color: #e3e6f0;
   width: 10px;
}

th {
   background-color: #05091a;
   color: white;
}

     .dashboard{
          margin-left: 18%;
          margin-top: 2%;
          display: flex;
      }
      .linetwo{
         margin-left:18%;
         margin-top:2%;
         display:flex;

      }
       .heading{
         margin-left:18%;
         margin-top:1%;
          font-size: 15px;
          font-weight: 600;
          background-image: linear-gradient(to left, #2a196a, #1a1553)
          color: transparent;
          background-clip: text;
         -webkit-background-clip: text;


      }
     .status-pen{
       font-weight:bold;
       font-weight: bold;
       font-family: 'Nunito';
       font-family: system-ui;
       color: #ed2a2a;
     }
     .status-com{
       font-weight: bold;
       font-family: 'Nunito';
       font-family: system-ui;
       color: #12b312;
     }
     .rows{
  background-color: #eaecf4;
}









</style>

{% endblock content%}