{% include 'workers/dashboard.html'%}

{% block content%}
{% load static %}


<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <form action="{% url 'task_updates'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <h2 class="formbold-form-title" align="center"><font color="#17202A">Task Progress</font></h2>

                <label class="formbold-form-label">Project Name:</label>

                <select class="formbold-form-input" name="p_name">
                    {%for i in project %}
                    <option value="{{i.id}}">{{i.project_name}}</option>
                    {% endfor %}
                    />

                </select>
            </div>
            <br>

            <div class="formbold-mb-5">
                <label class="formbold-form-label">Task Name</label>
                <select class="formbold-form-input" name="name">
                    {%for i in task %}
                    <option value="{{i.id}}">{{i.task_name}}</option>
                    {% endfor %}
                    />

                </select>
            </div>
            <div class="flex flex-wrap formbold--mx-3">
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5 w-full">
                        <label for="sdate" class="formbold-form-label"> Start Date </label>
                        <input
                                type="date"
                                name="sdate"
                                id="sdate"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="edate" class="formbold-form-label">End Date </label>
                        <input
                                type="date"
                                name="edate"
                                id="edate"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="time" class="formbold-form-label"> Working Hours </label>
                        <input
                                type="time"
                                placeholder="Time in Hours"
                                name="time"
                                id="time"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
                <div class="w-full sm:w-half formbold-px-3">
                    <div class="formbold-mb-5">
                        <label for="overtime" class="formbold-form-label"> Overtime Hours </label>
                        <input
                                type="time"
                                placeholder="Time in Hours"
                                name="overtime"
                                id="overtime"
                                class="formbold-form-input"
                        />
                    </div>
                </div>
            </div>

            <div>
                <label class="formbold-form-label">Status</label>

                <select class="formbold-form-input" name="status" id="status">
                    <option value="active">Active</option>
                    <option value="pending">Pending</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
            <br>
            <div class="formbold-mb-3">
                <label for="upload" class="formbold-form-label">
                    Upload Bill
                </label>
                <input
                        type="file"
                        name="bill"
                        id="upload"
                        class="formbold-form-input formbold-form-file"
                />
            </div>
            <br>
            <div>
                <button class="formbold-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    background-color: white;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }


</style>

{% endblock content%}