<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Construct Pay</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Home/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'Home/assets/css/login.css' %}">
    <style>
        .invalid{
          color: tomato;
        }
    </style>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="{% url 'Login'%}">
    {% csrf_token %}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
            In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>

                    <div class="group">
                        <input type="submit" class="button" value="Sign ">
                    </div>

                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="invalid">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>